<mat-toolbar>
  <span>Документы</span>
</mat-toolbar>
<div class="mat-elevation-z8" style="margin-left:20%;margin-right:20%;margin-top:4%">

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="text-align:center"> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">Заказ</th>
      <td mat-cell *matCellDef="let element"> Заказ №{{element.order.id}} от {{element.order.dateTime|date:"dd.MM.yyyy HH:mm"}} </td>
    </ng-container>


    <ng-container matColumnDef="orderStatus">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">Статус заказа</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.orderStatus==0">Не выполнен</span>
        <span *ngIf="element.orderStatus==1">Выполнен</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="jobQuality">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">Качество работ</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.jobQuality==0">Низкое</span>
        <span *ngIf="element.jobQuality==1">Среднее</span>
        <span *ngIf="element.jobQuality==2">Высокое</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="clientReview">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">Отзыв клиента</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.clientReview==0">Очень негативный</span>
        <span *ngIf="element.clientReview==1">Негативный</span>
        <span *ngIf="element.clientReview==2">Нейтральный</span>
        <span *ngIf="element.clientReview==3">Хороший</span>
        <span *ngIf="element.clientReview==4">Отличный</span>
      </td>
    </ng-container>



    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button (click)="openDialog(element,1)" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Редактировать</span>
          </button>
          <button (click)="remove(element.id)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
  <button mat-raised-button color="primary" (click)="openDialog(null,0)" style="margin:10px;">Добавить документ</button>
</div>


