<mat-card>
  <form [formGroup]="form" autocomplete="off">
    <mat-card-header>
      <mat-card-title>
        {{header}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div>
        <mat-form-field style="width:100%">
          <mat-label>ФИО</mat-label>
          <input autocomplete="off" matInput placeholder="ФИО" formControlName="name">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:100%">
          <mat-label>Телефон</mat-label>
          <input autocomplete="off" matInput placeholder="Телефон" formControlName="phone">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:100%">
          <mat-label>Марка авто</mat-label>
          <input autocomplete="off" matInput placeholder="Марка авто" formControlName="carBrand">
        </mat-form-field>
      </div>


      <div>
        <mat-form-field style="width:100%">
          <mat-label>Гос.номер</mat-label>
          <input autocomplete="off" matInput placeholder="Гос.номер" formControlName="carNumber">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:100%">
          <mat-label>VIN</mat-label>
          <input autocomplete="off" matInput placeholder="VIN" formControlName="carVin">
        </mat-form-field>
      </div>



    </mat-card-content>
    <mat-card-actions style="padding-left:10%;padding-right:10%">
      <button cdkFocusInitial type="submit"  mat-raised-button color="primary" style="width: 40%" (click)="apply()" #btnRef="matButton">Сохранить</button>
      <button mat-raised-button style="width: 40%" (click)="onNoClick()">Отмена</button>
    </mat-card-actions>
  </form>
</mat-card>
